{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Integrity Rules Import{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Integrity Rules Import{% endtrans %}</h1>
</div>

<div>
  {{ form(form) }}
</div>
{% endblock %}
