{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Integrity Rule{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Integrity Rule{% endtrans %}</h1>
</div>
<div>
  {{ form(form) }}
</div>
{% endblock %}
