parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     shadowd
    database_user:     shadowd
    database_password: ~
    secret:            ThisTokenIsNotSoSecretChangeIt
    demo:              false
    mailer_transport:  sendmail
    mailer_host:       ~
    mailer_port:       ~
    mailer_encryption: ~
    mailer_auth_mode:  ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_from:       noreply@zecure.org
