parameters:
    database_driver:   PLACEHOLDER_DB_DRIVER
    database_host:     PLACEHOLDER_DB_HOST
    database_port:     PLACEHOLDER_DB_PORT
    database_name:     PLACEHOLDER_DB_NAME
    database_user:     PLACEHOLDER_DB_USER
    database_password: PLACEHOLDER_DB_PASSWORD
    demo:              PLACEHOLDER_DEMO

    locale:            en
    secret:            PLACEHOLDER_SECRET_TOKEN

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
