<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!--
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <a class="dropdown-item" href="../default/">Default</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../cerulean/">Cerulean</a>
                        <a class="dropdown-item" href="../cosmo/">Cosmo</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../help/">Help</a>
                </li>
            </ul>
            -->


            <ul class="navbar-nav">
                <li class="nav-item first"><a class="nav-link" href="/"><i class="menu-icons fa fa-home"></i>Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="menu-icons fa fa-binoculars"></i>Analysis <b class="caret"></b>
                    </a>
                    <ul class="menu_level_1 dropdown-menu">
                        <li class="first">
                            <a class="nav-link" href="/requests">
                                <i class="menu-icons fa fa-cog"></i>Requests
                            </a>
                        </li>
                        <li class="last">
                            <a class="nav-link" href="/parameters">
                                <i class="menu-icons fa fa-cogs"></i>Parameters
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="menu-icons fa fa-balance-scale"></i>Management <b class="caret"></b></a>
                    <ul class="menu_level_1 dropdown-menu">
                        <li class="first"><a href="/profiles"><i class="menu-icons fa fa-cubes"></i>Profiles</a></li>
                        <li divider="divider" class="divider"></li>
                        <li><a href="/blacklist/rules"><i class="menu-icons fa fa-square"></i>Blacklist</a></li>
                        <li><a href="/whitelist/rules"><i class="menu-icons fa fa-square-o"></i>Whitelist</a></li>
                        <li class="last"><a href="/integrity/rules"><i class="menu-icons fa fa-shield"></i>Integrity</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="menu-icons fa fa-university"></i>Administration <b class="caret"></b></a>
                    <ul class="menu_level_1 dropdown-menu">
                        <li class="first"><a href="/users"><i class="menu-icons fa fa-users"></i>Users</a></li>
                        <li class="last"><a href="/generator"><i class="menu-icons fa fa-share-alt"></i>Generator</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item last dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="menu-icons fa fa-user"></i>User <b class="caret"></b></a>
                    <ul class="menu_level_1 dropdown-menu">
                        <li class="first"><a href="/settings"><i class="menu-icons fa fa-wrench"></i>Settings</a></li>
                        <li class="last"><a href="/logout"><i class="menu-icons fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>