{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}Whitelist Rules Export{% endblock %}


{% block body %}
<div class="page-header">
  <h1>Whitelist Rules Export</h1>
</div>
<div class="col-md-8">
  {{ form(form) }}
</div>
<div class="col-md-4">
  <div class="alert alert-info">
    The value of <em>base</em> in the caller will be replaced with <em>{BASE}</em>. You can use this to set the base path dynamically when you import the rules collection.<br /><br />
    If you want to share your rules with others you should always use this, because it is unlikely that other people have installed the applications at the same location.
  </div>
  <div class="alert alert-info">
    Use <em>paths</em> and <em>callers</em> to specify which rules you want to export.
  </div>
</div>
{% endblock %}
