{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Whitelist Rules Export{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Whitelist Rules Export{% endtrans %}</h1>
</div>
<div class="col-md-8">
  {{ form(form) }}
</div>
<div class="col-md-4">
  <div class="alert alert-info">
    {% trans %}The value of <em>base</em> in the caller will be replaced with <em>{BASE}</em>. You can use this to set the base path dynamically when you import the rules collection.{% endtrans %}
  </div>
  <div class="alert alert-info">
    {% trans %}Use <em>paths</em> and <em>callers</em> to specify which rules you want to export.{% endtrans %}
  </div>
</div>
{% endblock %}
