{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Whitelist Rules Generator{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Whitelist Rules Generator{% endtrans %}</h1>
</div>

<div class="col-md-8">
  {{ form(form) }}
</div>
<div class="col-md-4">
  <div class="alert alert-info">
    {% trans %}The quality of the rules depends on the quality and quantity of the gathered learning data. If you know what you are doing you can tweak the settings to get better results, but in most cases the default values should be fine. For more information have a look at the documentation.{% endtrans %}
  </div>
</div>

{% endblock %}
