{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}Whitelist Rules Generator{% endblock %}


{% block body %}
<div class="page-header">
  <h1>Whitelist Rules Generator</h1>
</div>

<div class="col-md-8">
  {{ form(form) }}
</div>
<div class="col-md-4">
  <div class="alert alert-info">
    The rules generator is a handy tool to automate the process of rules creation. It creates statistics about parameters that were captured in learning mode, generates rules based on this information and merges them with the existing rules. New rules are not active by default though and have to be activated manually by an administrator.
  </div>
  <div class="alert alert-info">
    To gather (more) learning data go to <a href="{{ path('swd_analyzer_profiles_list') }}">Profiles</a> and activate the learning mode for the profile of your choice. Don't forget to clear the learning cache after you are done with the rules generation, because it can take up a lot of space.
  </div>
  <div class="alert alert-info">
    The quality of the rules depends on the quality and quantity of the gathered learning data. If you know what you are doing you can tweak the settings to get better results, but in most cases the default values should be fine. For more information have a look at the documentation.
  </div>


</div>

{% endblock %}
