{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Whitelist Rules Import{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Whitelist Rules Import{% endtrans %}</h1>
</div>

<div class="col-md-8">
  {{ form(form) }}
</div>
<div class="col-md-4">
  <div class="alert alert-info">
    {% trans %}On this page you can import rules collections. If the collection supports it you can use <em>base</em> to specify a base directory (f.i. <em>/var/www/blog/</em>).{% endtrans %}
  </div>
  <div class="alert alert-info">
    {% trans %}You can use this for backups, but you can also use it to <a href="https://github.com/zecure/shadowd_rules">share good collections with others</a>. Sharing is caring and everybody saves time!{% endtrans %}
  </div>
</div>

{% endblock %}
